---
// Credits: https://codepen.io/littlelumos/pen/GRJYXzJ
---

<div class="background" transition:persist="stars-bg">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</div>

<style lang="scss">

    .background {
        --star-speed: 50s;
        --star-size: 1px;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: radial-gradient(ellipse at top left, rgba(27, 39, 53, 0.3) 0%, rgba(9, 10, 15, 0.3) 100%);
        overflow: hidden;
        z-index: -1;
    }

    @function multiple-box-shadow($n, $color) {
        $value: "#{random(2000)}px #{random(6000)}px #{$color}";
        @for $i from 2 through $n {
            $value: "#{$value} , #{random(4000)}px #{random(6000)}px #{$color}";
        }

        @return unquote($value);
    }

    $star-color: rgba(255, 255, 255, 0.2);
    $shadows-small: multiple-box-shadow(700, $star-color);
    $shadows-medium: multiple-box-shadow(200, $star-color);
    $shadows-big: multiple-box-shadow(100, $star-color);

    #stars {
        width: var(--star-size);
        height: var(--star-size);
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar calc(var(--star-speed) * 4) linear infinite;

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            width: var(--star-size);
            height: var(--star-size);
            background: transparent;
            box-shadow: $shadows-small;
        }
    }

    #stars2 {
        width: calc(var(--star-size) * 2);
        height: calc(var(--star-size) * 2);
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar calc(var(--star-speed) * 7) linear infinite;

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            width: calc(var(--star-size) * 2);
            height: calc(var(--star-size) * 2);
            background: transparent;
            box-shadow: $shadows-medium;
        }
    }

    #stars3 {
        width: calc(var(--star-size) * 3);
        height: calc(var(--star-size) * 3);
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar calc(var(--star-speed) * 10) linear infinite;

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            width: calc(var(--star-size) * 3);
            height: calc(var(--star-size) * 3);
            background: transparent;
            box-shadow: $shadows-big;
        }
    }

    @keyframes animStar {
        from {
            transform: translateY(-4000px);
            
        }
        to {
            transform: translateY(-1080px);
        }
    }
</style>
